{% extends "dashboard/base.html" %}
{% load staticfiles%}


{% block content %}

<h4 class="page-header">Add Store </h4>
<div class="row clearfix">
                <div class="col l12 col m12 col s12">
                    <div class="card">
                        <div class="header">
                            <h5>Enter Detail for Store
                            </h5>
                        </div>
                        <div class="body">
                            {% if success %}
                            <p class="alert alert-success">{{ success }}</p>
                            {% endif %}
                            <form class="form-horizontal" role="form" method="post" id="frmsubmit" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col s12 col m6 col l6">
                                            <div class="input-field">
                                                <div class="form-line">
                                                    <select name="ware" class="form-control " id="warehouse" >
                                                        <option value="000" disabled selected> Please select warehouse</option>
                                                        {% for war in warehouse %}
                                                        <option value="{{ war.id }}">{{ war.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                        {% if houseware %}
                                                            <span style="color:#FF0000;">  {{ houseware }} </span>
                                                        {% endif %}
                                                </div>
                                            </div>
                                    </div>
                                 </div>
                                
                                <div class="row">
                                    <div class="col s12 col m6 col l6">
                                        <div class="input-field">
                                            <div class="form-line">
                                                <label>Enter Store Name:</label>
                                                <input class="form-control" type="text" name="sname" >
                                                {% if name %}
                                                    <span style="color:#FF0000;">  {{ name }} </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row">
                                    <div class="col s12 col m6 col l6">
                                        <div class="input-field">
                                            <div class="form-line">
                                                <label>Enter Store Number</label>
                                                <input class="form-control" type="number" name="snumber" >
                                                {% if number %}
                                                    <span style="color:#FF0000;">  {{ number }} </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 col m6 col l6">
                                        <input type="submit" class="btn waves-effect waves-light" id="store" value="submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
</div>


    
{% endblock content %}
{%block extrajs%}


{%endblock extrajs%}